# 1.15 has tons of warnings from scipy
numpy
scipy
sklearn
matplotlib
networkx
lxml
pillow
# for progress bar
tqdm
# futures for python 2 support
futures
# aws python sdk
boto3
# should be installed with matplotlib; just in case
six
# this is to deal with serverless configuration
pyyaml
